/* styles.css */
.popup-container {
    -fx-background-color: #252526;
    -fx-border-color: #555555;
    -fx-border-width: 1px;
}

.suggestion-list {
    -fx-background-color: transparent;
}
.suggestion-list .list-cell {
    -fx-text-fill: #cccccc;
    -fx-background-color: transparent;
    -fx-font-family: Consolas;
    -fx-font-size: 14px;
}
.suggestion-list .list-cell:filled:selected, .suggestion-list .list-cell:filled:selected:focused {
    -fx-background-color: #007acc;
    -fx-text-fill: white;
}